.box {
    background: #0c0f13;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 64px 1fr;
    position: relative;
    height: 16em;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 14px rgba(221, 221, 221, 0.25);
    transition: 0.35s ease all;
    color: #ffffff;;
  }
  
  .box-icon {
    display: grid;
    place-items: center;
  }
  
  .box-label {
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .box-title {
    white-space: nowrap;
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 14px;
    letter-spacing: 0.500em;
    padding-top: 16px;
  }
  
  .box-image {
    width: 300px;
    height: 300px;

    display: flex;
    padding-left: 16px;
    font-size: 14px;
    letter-spacing: 0.125em;
    // border-radius: 18px 0 18px 0;
    // overflow: hidden;
  
    // img {
    //   width: 100%;
    //   display: block;
    // }
  }
  
  .view-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    color: #0c0f13;
    padding: 6px 8px;
    border-radius: 50px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    transition: 0.35s ease all;
    overflow: hidden;
    max-width: 37px; /* icon size */
    // max-height: 38px;
  }
  
  .view-button-icon {
    position: relative;
    top: 1px;
  }
  
  .view-button-label {
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 8px;
    opacity: 0;
    transform: translateX(10px);
    transition: 0.25s ease all;
  }
  
  .box:hover {
    .view-button {
      max-width: 100%;
    }
    .view-button-label {
      opacity: 1;
      transform: translateX(0);
      transition: 0.25s 0.1s ease-in opacity, 0.15s 0.1s cubic-bezier(.175, .885, .32, 1.275) transform;
    }
  }
  